* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f5dced;
}

.main_wrapper {
  position: relative;
  width: 100%;
}

header {
  background-color: #1f2224;
  width: 100px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10%;
  padding-top: 20px;
}

.header-accueil__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-accueil__img img {
  width: 80%;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.header-links a {
  text-decoration: none;
}

.header-links a img {
  width: 60px;
  border: solid 1px white;
  border-radius: 5px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 100px;
}

.link-project {
  width: 30%;
  text-decoration: none;
  color: black;
  margin: 15px;
  -webkit-box-shadow: 0 0 10px 2px #707070;
          box-shadow: 0 0 10px 2px #707070;
}

.cart-project {
  height: 320px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-project img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-project__comment {
  position: absolute;
  top: 0px;
  right: 15px;
  background-color: #e52165;
  font-size: 0.9rem;
  padding: 5px;
  font-weight: bold;
}

.cart-project .crochet {
  background-color: #1fa71f;
}

.cart-project__txt {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  bottom: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.541);
}

.cart-project__txt h2, .cart-project__txt p {
  color: white;
  margin: 0;
}

.project-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  padding: 80px 0;
}

.project-description__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-description__txt-title {
  font-size: 1.8rem;
}

.project-description__txt-title h1, .project-description__txt-title .commentaire {
  margin: 0;
}

.project-description__txt-title .commentaire {
  padding-bottom: 15px;
}

.laine, .couleur, .prod {
  padding-top: 15px;
}

.project-description__carroussel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  margin-left: 50px;
}

.project-description__carroussel img {
  vertical-align: middle;
}

.allSlides {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide {
  display: none;
  border: solid 1px black;
  height: 600px;
}

.cursor {
  cursor: pointer;
}

.numbertext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: #1f2224;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
}

.column img {
  border: solid 1px black;
  border-radius: 10px;
  height: 75px;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/*# sourceMappingURL=main.css.map */