// variables
$primary : rgb(245, 220, 237);
$size-big : 2rem;
$size-little : 0.9rem;

// main
.project-description {
    flex-direction: row;
    align-items: center;
    &__carroussel {
        width: 40%;
        padding: 0 15px;
    }
    &__txt{
        width: 60%;
        padding: 15px;
    }
}