* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}


// variables
$primary : rgb(245, 220, 237);
$size-big : 2rem;
$size-medium : 1.5rem;
$size-little : 0.9rem;

// main
.project-description {
    display: flex;
    flex-direction: column;
    &__carroussel {
        position: relative;
        padding-bottom: 25px;
    }
    h2 {
        text-align: center;
        font-size: $size-medium;
    }
    span {
        font-weight: 550;
    }
    &__txt-data {
        background-color: $primary;
        padding: 15px;
    }
    &__txt-material {
        padding: 15px;
    }
    &__txt-document {
        background-color: $primary;
        padding: 15px;
    }
}

// carroussel
.mySlides {
    display: none;
    img {
        width: 100%;
        object-fit: contain;
        vertical-align: middle;
    }
}

.cursor {
    cursor: pointer;
}

.next, .prev {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.next {
    right: 15px;
}

.numbertext {
    color: #f2f2f2;
    background-color: #4e4e4ea9;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.fade {
    animation: fade 1500ms;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

// section
section {
    display: flex;
    justify-content: center;
    padding: 30px;
    a {
        text-decoration: none;
        font-weight: bold;
        font-size: medium;
        padding: 15px;
        color: black;
    }
    a:hover {
        background-color: $primary;
    }
}