* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

// variables
$primary : rgba(31,34,36,255);
$secondary : #e52165;
$tertiary : rgb(245, 220, 237);
$size-big : 2.2rem;
$size-medium : 1.1rem;
$size-little : 0.9rem;

body {
    background-color: $primary;
}

// carroussel
.mySlides {
    display: none;
    img {
        width: 100%;
        object-fit: contain;
        vertical-align: middle;
    }
}

.cursor {
    cursor: pointer;
}

.next, .prev {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.next {
    right: 15px;
}

.numbertext {
    color: #f2f2f2;
    background-color: #4e4e4ea9;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

// main
.project-description {
    display: flex;
    flex-direction: column;
    color: white;
    &__carroussel {
        position: relative;
        padding-bottom: 5px;
    }
    h2, .commentaire {
        text-align: center;
        font-size: $size-big;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
        padding: 10px;
    }
    .commentaire {
        font-size: $size-medium;
    }
    &__txt-description {
        padding: 10px;
        background-color: $tertiary;
        color: black;
        a {
            text-decoration: none;
            color: #e52165;
        }
        .carac, span {
            font-weight: 700;
        }
    }
}

// section
section {
    display: flex;
    justify-content: center;
    padding: 20px;
    a {
        text-decoration: none;
        font-weight: bold;
        font-size: medium;
        color: white;
        i {
            color: $secondary;
        }
    }
}