// variables
$primary : rgba(31,34,36,255);
$secondary : #e52165;
$tertiary : rgb(245, 220, 237);
$size-big : 2.2rem;
$size-medium : 1.1rem;
$size-little : 0.9rem;

.project-description__carroussel {
    display: flex;
    .mySlides {
        width: 25%;
    }
}

.project-description__txt-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}