// variables
$size-very-big : 2.2rem;

// Header
header {
    .main-title {
        &__img img {
            width: 30%;
        }
        &__txt {
            width: 40%;
            h1 {
                font-size: $size-very-big;
            }
        }
        &__links a img {
            width: 60px;
            border: solid 1px black;
            border-radius: 5px;
        }
    }
}

// main
.cart-project {
    width: 30%;
}