* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}


// variables
$primary : rgb(245, 220, 237);
$size-big : 1.5rem;
$size-little : 0.9rem;

// header
header {
    background-color: $primary;
    .main-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        &__img {
            width: 25%;
            img {
                width: 60%;
            }
        }
        &__txt {
            width: 60%;
            h1 {
                font-size: $size-big;
                font-weight: 500;
                margin: 0px;
            }
        }
        &__links {
            display: flex;
            align-items: center;
            column-gap: 5px;
            a {
                text-decoration: none;
                color: black;
                img {
                    width: 45px;
                    border: solid 1px black;
                    border-radius: 5px;
                }
            }
        }
    }
}

// main
main {
    margin: 25px;
}
.link-project {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

.cart-project {
    height: 350px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px rgb(107, 106, 106);
    position: relative;
    display: flex;
    flex-direction: column;
        img {
            height: 60%;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }
        &__comment {
            position: absolute;
            top: 5px;
            right: 25px;
            background-color: $primary;
            font-size: $size-little;
            padding: 3px;
            font-weight: bold;
            border-radius: 3px;
        }
    &__txt {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        height: 40%;
        &-title {
            height: 25%;
            display: flex;
            justify-content: space-between;
        }
    }
}