* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}


// variables
$primary : rgba(31,34,36,255);
$secondary : #e52165;
$size-big : 1.3rem;
$size-little : 0.9rem;

// header
header {
    background-color: $primary;
    .main-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;
        &__txt {
            h1 {
                font-size: $size-big;
                font-weight: 300;
                margin: 0px;
                color: white;
                text-transform: uppercase;
            }
        }
        &__links {
            display: flex;
            align-items: center;
            column-gap: 5px;
            a {
                text-decoration: none;
                img {
                    width: 45px;
                    border: solid 1px white;
                    border-radius: 3px;
                }
            }
        }
    }
}

// main
main {
    display: flex;
    flex-direction: column;
}

.link-project {
    text-decoration: none;
    color: black;
    display: flex;
}

.cart-project {
    width: 100%;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    .bg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.6));
        width: 100%;
        height: 100%;
    }
    img {
        height: 100%;
        object-fit: cover;
    }
    &__comment {
        position: absolute;
        top: 0px;
        right: 15px;
        background-color: $secondary;
        font-size: $size-little;
        padding: 5px;
        font-weight: bold;
    }
    .crochet {
        background-color: rgb(31, 167, 31);
    }
    &__txt {
        position: absolute;
        bottom: 15px;
        padding: 0 15px;
        h2, p {
            margin: 0;
        }
    }
}