// variables
$size-very-big : 2.2rem;

// Header
header {
    .main-title {
        justify-content: space-around;
        &__txt h1 {
            font-size: $size-very-big;
        }
        &__links a img {
            width: 60px;
            border-radius: 5px;
        }
    }
}

// main
main {
    flex-direction: row;
    flex-wrap: wrap;
    a {
        width: 33.33%;
    }
}